body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.dark {
    background-color: #000;
    color: #fff;
}

#dynamicContent {
    padding: 40px;
    border: solid 1px #f00;
}

.special {
    background-color: #222;
    color: #fff;
    padding: 5px;
}

.main-title {
    text-align: center;
    background-color: rgb(243, 243, 118);
    padding: 10px;
    font-weight: normal;
    color: rgb(151, 151, 16);
}

.cool-paragraph {
    background-color: #222;
    padding: 15px;
    color: #fff;
    line-height: 20px;
    font-family: Verdana;
}
