body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

#dynamicContent {
    padding: 40px;
    border: solid 1px #f00;
}

.special {
    background-color: #222;
    color: #fff;
    padding: 5px;
}
